body {
    background-image: url('../Img/Background.jpg');
    background-size: cover;
    font-family: 'Arial', sans-serif;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1485px;
}

.headr{
    background-color:rgb(38, 55, 66);
    padding-left: 20px;
    padding-right: 20px;
    width: 1440px;
    height: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px 15px 50px 50px;
    background: linear-gradient(to bottom, rgba(38, 55, 66), rgb(56, 48, 85));
}
.headr h1{
    font-weight: bold;
}
.logo{
    display:flex;
    align-items:center;
}

.headr img{
    height:180px;
    margin-left:auto;
}

.navbar {
    margin-top: 10px;
    background-color: rgb(38, 55, 66);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border-radius: 50px;
    background: linear-gradient(to bottom, rgba(38, 55, 66), rgb(56, 48, 85));
    width: 800px;
}

.navbar a {
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin: 0 15px;
    text-decoration: none;
}

.telacontato {
    margin-top: 50px;
    background-color: rgb(38, 55, 66);
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px; 
    padding: 10px 20px;
    border-radius: 10px 10px 10px 10px;
    background: linear-gradient(to bottom, rgba(38, 55, 66), rgb(56, 48, 85));
}

.texto{
    margin-top: 10px;
    background-color: rgb(38, 55, 66);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0;
    border-radius: 50px;
    background: linear-gradient(to bottom, rgba(38, 55, 66), rgb(56, 48, 85));
    width: 600px;
    height: 250px;
}

.formulario{
    margin-top: 10px;
    background-color: rgb(38, 55, 66);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: linear-gradient(to bottom, rgba(38, 55, 66), rgb(56, 48, 85));
    width: 500px;
    height: auto;
}
.formulario h1{
    padding-left: 20px;
}
.formulario form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}